@page "/service-request/{Id:int}"

@using CarService.Core.Entities
@using CarService.Core.Enums
@using CarService.Application.Services

@inject IServiceRequestService Service
@inject NavigationManager Navigation

<h3>Service Request Details</h3>

@if (request == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card p-3">

        <p><b>ID:</b> @request.Id</p>
        <p><b>Description:</b> @request.Description</p>
        <p><b>Base Price:</b> @request.BasePrice</p>
        <p><b>Final Price:</b> @request.FinalPrice</p>
        <p><b>Status:</b> @request.Status</p>
        <p><b>Date:</b> @request.CreatedAt</p>

        <hr />

        <h5>Change Status</h5>

        <button class="btn btn-warning me-2" @onclick="SetInProgress">
            In Progress
        </button>

        <button class="btn btn-success me-2" @onclick="SetCompleted">
            Completed
        </button>

        <button class="btn btn-danger" @onclick="SetCancelled">
            Cancelled
        </button>

    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    ServiceRequest? request;

    protected override async Task OnInitializedAsync()
    {
        request = await Service.GetByIdAsync(Id);
    }

    async Task SetInProgress()
    {
        if (request != null)
        {
            request.Status = ServiceStatus.InProgress;
            await Service.UpdateAsync(request);
            Navigation.NavigateTo("/service-requests", true);
        }
    }

    async Task SetCompleted()
    {
        if (request != null)
        {
            request.Status = ServiceStatus.Completed;
            await Service.UpdateAsync(request);
            Navigation.NavigateTo("/service-requests", true);
        }
    }

    async Task SetCancelled()
    {
        if (request != null)
        {
            request.Status = ServiceStatus.Cancelled;
            await Service.UpdateAsync(request);
            Navigation.NavigateTo("/service-requests", true);
        }
    }

}